<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/reset.css">

    <title>Search</title>
</head>

<body>
    <header>

        <h1>Best Books!</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/searches/new">Search</a></li>
            </ul>
        </nav>
    </header>

    <form action="/searches" method="post">

        <input type="text" name="searchbox"  value='' placeholder="search" class="input" required>
        
        <div class="radio">
            <label>Title</label>
            <input type="radio" value="title" name="search" id="title" required>
            <label>Author</label>
            <input type="radio" value="author" name="search" id="author" required>
        </div>

        <button type="submit" class="searching">Search</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/app.js"></script>
</body>

</html>