<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/base.css">

    <title>Search</title>
</head>

<body>

  
    <form action="/searches" method="post">

        <label>
            <span>search</span>
            <input type="text" name="searchbox" required><br>
        </label>

        <label for="title">
            <span>title</span>
            <input type="radio" name="search" id="title" value="title" required><br>
        </label>

        <label for="author">
            <span>author</span>
            <input type="radio" name="search" id="author" value="author" required>
        </label>

        <button>search</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/app.js"></script>
</body>

</html>