<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/base.css">

    <title>Search</title>
</head>

<body>

    <select id="type">

        <option value="title">Title</option>
        <option value="author">Author</option>

    </select>

    <form action="/searches/show" method="get">

        <input type="text" id="search">
        <input type="button" value="search" id="sub">

    </form>
    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/app.js"></script>
</body>

</html>