<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/modules.css">
    <link rel="stylesheet" href="styles/reset.css">
    <title>error</title>
</head>

<body>
    <main class="error">
        <div class="img"></div>
        <p class="para">page not found</p>
        <p class="para1">get back to the home page <a href="/" class="index">here</a></p>
    </main>
</body>

</html>